
.myAccountPage {
    padding: 32px 0;
    display: flex;
    flex-wrap: wrap;
}

.accountSidebar {
    flex: 0 0 250px;
    max-width: 250px;
}

.myAccountMain {
    flex: 0 0 100%;
    padding-left: 20px;
    max-width: calc(100% - 300px);
}

.accountSidebar h1 {
    margin-bottom: 15px;
    font-size: 24px;
}

.sidebarNav li a {
    padding: 10px 0;
    text-decoration: none;
    display: block;
    border-bottom: 1px dashed #ddd;
    color: #333;
}

.infoOuter {
    border: 1px solid #ddd;
    border-radius: 8px;
}
 

 
.infoHead {
    padding: 15px;
    border-bottom: 1px solid #dddd;
	background-color:#f1f1f1;
}

.InfoBlock {
    padding: 15px;
}

.infoAction a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.infoAction {
    padding-top: 10px;
}

.InfoBlock h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.infoHead h3 {
    font-size: 20px;
}

.myAccountMain h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.infoHead  a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}



@media only screen and (max-width: 991px) {
.accountSidebar {
    flex: 0 0 250px;
    max-width: 250px;
}

.myAccountMain{    max-width: calc(100% - 250px);}


}

@media only screen and (max-width: 767px) {
    .myAccountMain{    max-width:100%}

}